.navpopper {
  .popper {
    @apply  text-white bg-gray-900 border border-gray-900 py-1 px-2 text-xs;
  }

  .popper[x-placement^="left"] {
    .popper__arrow {
      border-color: transparent transparent transparent #161e2e;
    }
  }

  .popper[x-placement^="right"] {
    .popper__arrow {
      border-color: transparent #161e2e transparent;
    }
  }
}

.pagepopper {
  .popper {
    @apply text-black bg-white  p-2 text-sm text-left w-auto max-w-md rounded-r-xl border-solid border-3 border-gray-400 rounded-bl-xl;
  }

  .popper[x-placement^="left"] {
    .popper__arrow {
      border-color: transparent transparent transparent #161e2e;
    }
  }

  .popper[x-placement^="right"] {
    .popper__arrow {
      border-color: transparent #161e2e transparent;
    }
  }
}